<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Text Utils</title>
</head>
<body>
<h1>Welcome to the text analyser.
    Enter your text below
</h1>
<form action="/analyze" method="get">
<textarea name='text' style='margin: 0px; width: 1016px; height: 204px'></textarea><br>

    <input type="checkbox" name="removepunc"> Remove punctuations<br>
    <input type="checkbox" name="capall"> Capitalize all<br>
    <input type="checkbox" name="removenl"> Remove newline characters<br>
    <input type="checkbox" name="removeextraspaces"> Remove all of the extra spaces<br>
    <input type="checkbox" name="lenstr"> Get the length of your string<br>
    <button type="submit"> Analyze text </button>

</form>
</body>
</html>




